// header03
header.header_03
	.headerWrap
		.visualBg
			.main-inner
				h1
					picture
						source(srcset='img/header/h_03/pc/title.png', media='(min-width: 1024px)')
						img(src='img/header/h_03/m/title.png', alt="女漢子 Girl Crush")
				.pink.p1.wow.custom_fadeinleft(data-wow-offset='50')
					picture
						source(srcset='img/header/h_03/pc/pink01.png', media='(min-width: 1024px)')
						img(src='img/header/h_03/m/pink01.png')
				.pink.p2.wow.custom_fadeindown(data-wow-offset='50')
					picture
						source(srcset='img/header/h_03/pc/pink02.png', media='(min-width: 1024px)')
						img(src='img/header/h_03/m/pink02.png')
				.pink.p3.wow.custom_fadeinright(data-wow-offset='50')
					picture
						source(srcset='img/header/h_03/pc/pink03.png', media='(min-width: 1024px)')
						img(src='img/header/h_03/m/pink03.png')
				.filter
					.filterblue.anime-blue
					.filterred.anime-red
				.main-bg
					picture
						source(srcset='img/header/h_03/pc/cover.png', media='(min-width: 1024px)')
						img(src='img/header/h_03/m/cover.png' )
		.detail
			.detailWrap
				.txtInner
					.txtWrap
						.txtWidth.wow.custom_fadeinup(data-wow-offset='50')
							.quote
								svg(version="1.1", xmlns="http://www.w3.org/2000/svg", xmlns:xlink="http://www.w3.org/1999/xlink", x="0px", y="0px", viewBox="0 0 27 24", style="enable-background:new 0 0 27 24;", xml:space="preserve")
									g
										path(class="st0", d="M7.8,0l5,3.6c-2.6,4.3-4,8.8-4.1,13.5V24H0v-5.8c0-3.4,0.7-6.7,2.2-10.1C3.7,4.8,5.5,2.1,7.8,0z M22,0l5,3.6c-2.6,4.3-4,8.8-4.1,13.5V24h-8.7v-5.8c0-3.4,0.7-6.7,2.2-10.1C17.8,4.8,19.7,2.1,22,0z")
							.txt(data-dotdotdot='true') 要我們很女人、很甜美我們可以；但在某些場合，要我們變得很強勢、很獨立，我們也是可以很勇敢。骨子裡流著俠女的血，大膽的做一個有態度的"女漢子"！
					a.link(href='https://www.juksy.com/archives/84446', target='_blank')
						.linkWrap
							span.ch 馬上閱讀
							span.ch.arrow →
// header03 end