// gallery01
section.gallery_01(data-menu='true')
	.layoutWrap
		h2.title 活動側拍

	ul#gallery_01_slider.slider
		//Main Slide
		li(data-thumb='https://picsum.photos/1200/900/?image=61')
			.img
				img(src='https://picsum.photos/1200/900/?image=61', data-width='1200', data-height='900')
		li(data-thumb='https://picsum.photos/1200/900/?image=979')
			.img
				img(src='https://picsum.photos/1200/900/?image=979', data-width='1200', data-height='900')
		li(data-thumb='https://picsum.photos/1200/900/?image=89')
			.img
				img(src='https://picsum.photos/1200/900/?image=89', data-width='1200', data-height='900')
		li(data-thumb='https://picsum.photos/1200/900/?image=122')
			.img
				img(src='https://picsum.photos/1200/900/?image=122', data-width='1200', data-height='900')

// gallery01 end