// list08
section.list_08(data-menu='true')
	.layoutWrap
		h2.title CLASSIC FASHION
		ul.article
			li.showOnScroll(data-show-offset='100', data-show-animation='custom_tiltinup')
				a.img(href='https://www.juksy.com/archives/84385', target='_blank', style='background-image:url("https://static.juksy.com/files/articles/84385/5bdd41ef2cc0a.jpg?m=resize&i=760x400&q=75");')
					.linkWrap(style='background-image: repeating-linear-gradient(45deg, #3aecff, #ffff4c, #c280ff) , url("https://static.juksy.com/files/articles/84385/5bdd41ef2cc0a.jpg?m=resize&i=760x400&q=75");')
						.txt READ MORE
				.txtWrap
					a.txt(data-dotdotdot='true', href='https://www.juksy.com/archives/84385', target='_blank')
						h3 【女漢子 Girl Crush】韓系軟妹子真的不夯了！掌握 3 個「硬派」裝容關鍵，變身超 Chill 洋妞不是夢
				.date Oct 29.2018 | by 熊編
			li.showOnScroll(data-show-offset='100', data-show-animation='custom_tiltinup')
				a.img(href='https://www.juksy.com/archives/84384', target='_blank', style='background-image:url("https://static.juksy.com/files/articles/84384/5be16cf4b385f.jpg?m=resize&i=760x400&q=75");')
					.linkWrap(style='background-image: repeating-linear-gradient(45deg, #3aecff, #ffff4c, #c280ff) , url("https://static.juksy.com/files/articles/84384/5be16cf4b385f.jpg?m=resize&i=760x400&q=75");')
						.txt READ MORE
				.txtWrap
					a.txt(data-dotdotdot='true', href='https://www.juksy.com/archives/84384', target='_blank')
						h3 【女漢子 Girl Crush】看上的球鞋總是沒尺寸、每逛美妝店都眼神死...潮流女孩的五大症狀妳中標了嗎？
				.date Nov 05.2018 | by Meihsin
			li.showOnScroll(data-show-offset='100', data-show-animation='custom_tiltinup')
				a.img(href='https://www.juksy.com/archives/49744', target='_blank', style='background-image:url("https://static.juksy.com/files/articles/49744/567a88d04cfa6.jpg?m=widen&i=600&q=75");')
					.linkWrap(style='background-image: repeating-linear-gradient(45deg, #3aecff, #ffff4c, #c280ff) , url("https://static.juksy.com/files/articles/49744/567a88d04cfa6.jpg?m=widen&i=600&q=75");')
						.txt READ MORE
				.txtWrap
					a.txt(data-dotdotdot='true', href='https://www.juksy.com/archives/49744', target='_blank')
						h3 【女漢子 Girl Crush】十款女漢子專用男香：「姐就是帥氣！」
				.date Nov 29.2015 | by 編輯部
			li.showOnScroll(data-show-offset='100', data-show-animation='custom_tiltinup')
				a.img(href='https://www.juksy.com/archives/83264', target='_blank', style='background-image:url("https://static.juksy.com/files/articles/83264/5bb5df12941b9.jpg?m=resize&i=760x400&q=75");')
					.linkWrap(style='background-image: repeating-linear-gradient(45deg, #3aecff, #ffff4c, #c280ff) , url("https://static.juksy.com/files/articles/83264/5bb5df12941b9.jpg?m=resize&i=760x400&q=75");')
						.txt READ MORE
				.txtWrap
					a.txt(data-dotdotdot='true', href='https://www.juksy.com/archives/83264', target='_blank')
						h3 【女漢子 Girl Crush】Stan Lee 親口證實！漫威第一位中國女英雄角色：鄧紫棋！
				.date Oct 04.2018 | by nancy
			li.showOnScroll(data-show-offset='100', data-show-animation='custom_tiltinup')
				a.img(href='https://www.juksy.com/archives/64956', target='_blank', style='background-image:url("https://static.juksy.com/files/articles/64956/58f82e9b54137.png?m=resize&i=760x400&q=75");')
					.linkWrap(style='background-image: repeating-linear-gradient(45deg, #3aecff, #ffff4c, #c280ff) , url("https://static.juksy.com/files/articles/64956/58f82e9b54137.png?m=resize&i=760x400&q=75");')
						.txt READ MORE
				.txtWrap
					a.txt(data-dotdotdot='true', href='https://www.juksy.com/archives/64956', target='_blank')
						h3 【女漢子 Girl Crush】《舉重妖精》《大力女》六大共通點，告訴你每個「女漢子」心中都藏著「軟妹子」！
				.date Apr 20.2017 | by 網路溫度計
			li.showOnScroll(data-show-offset='100', data-show-animation='custom_tiltinup')
				a.img(href='https://www.juksy.com/archives/84389', target='_blank', style='background-image:url("https://static.juksy.com/files/articles/84389/5be1fb0cba36f.jpg?m=resize&i=760x400&q=75");')
					.linkWrap(style='background-image: repeating-linear-gradient(45deg, #3aecff, #ffff4c, #c280ff) , url("https://static.juksy.com/files/articles/84389/5be1fb0cba36f.jpg?m=resize&i=760x400&q=75");')
						.txt READ MORE
				.txtWrap
					a.txt(data-dotdotdot='true', href='https://www.juksy.com/archives/84389', target='_blank')
						h3 【女漢子 Girl Crush】硬派女孩今年秋冬需要一件西裝外套才夠帥！編輯解析 5 招駕馭「西裝外套」穿搭術！
				.date Nov 07.2018 | by Jade.K
// list08 end