// list09
section.list_09(data-menu='true')
	.layoutWrap
		h2.title JUKSY STAR
		.article
			ul.pic.showOnScroll(data-show-offset='100', data-show-animation='custom_R2Lflow')
				li.now
					a.img.imgLoading(href='https://www.juksy.com/archives/84446', target='_blank', data-imgload='img/article/l_09/01.png')
			.txt
				ul.dateWrap
					li.now
						.date 29
						.month Oct
							br
							| 2018
						.author by diane
				ul.main
					li.now
						.atitleWrap.showOnScroll(data-show-offset='100', data-show-animation='custom_fadeinup')
							a.atitle(data-dotdotdot='true', href='https://www.juksy.com/archives/84446', target='_blank')
								h3 「享受當哥！」16 歲到 30 歲俠女魂全面釋放，曾之喬：我曾經害怕自己像個男生
						.detail.showOnScroll(data-show-offset='100', data-show-animation='custom_fadeinup', data-dotdotdot='true') 從出道初期《格鬥天王》裡吊鋼絲拚格鬥的田小葵，到《愛上巧克力》裡男扮女裝的洪希恩，一直到 2015 年《必娶女人》裡隨時採取備戰狀態的郝勝男，甚至是《稍息立正我愛你》裡面大而化之、行俠仗義的鍾少曦，近期甚至代言了遊戲《天涯明月刀》嘗試古裝女俠扮相，我們從每個角色裡看見不同性格的曾之喬，但卻很難不被她一以貫之，骨子裡的那份「俠氣」所吸引，也或許是靈魂裡的這一份「帥」，讓隱藏在精緻的妝容之下透澈的眼神更加讓人震懾，說她是「女漢子」，還有誰能跟她爭？
						a.button.showOnScroll(data-show-offset='100', data-show-animation='custom_fadeinup', href='https://www.juksy.com/archives/84446', target='_blank') Read More >>
// list09 end